.requestParamsWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.requestParam {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.paramName {
    flex-grow: 1;
}

.paramValue {
    flex-grow: 3;
}