:global(.popup-contents) .websocketTool {
    padding: 40px;
    overflow-y: hidden;
}

:global(.popup-contents) .websocketTool:hover {
    overflow-y: overlay;
}

.websocketTool {
    box-shadow: 0 0 50px #000000;
    padding: 10px;
}

.subscriptionTextArea {
    height: 120px !important;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.subscriptionTextArea :global(.CodeMirror.cm-s-darcula),
.yamlTextArea :global(.CodeMirror.cm-s-darcula) {
    width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.subscriptionTextArea::-webkit-scrollbar {
    display: none;
}

.subscriptionButtonContainer {
    display: flex;
    justify-content: center;
}
