
.websocketTool {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}