
.path-input {
    width: 30%;
}

.btn-wrapper {
    display: flex;
    /* width: 100%; */
    justify-content: center;
}

.icon-wrapper {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  margin-bottom: 5px;
  color: #999999;
}

.text-area-container {
    position: relative;
}

.text-area-label {
    margin: 20px 0;
}

.select,
.input {
    margin: 5px 30px 5px 0;
    padding: 5px;
}

.label {
    margin: 10px 6px 10px 0;
}

.section {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 25px;
}

h3 {
    margin-top: 0px;
}
