:global(.popup-contents) .sharedStateDebugger {
    padding: 40px;
    overflow-y: hidden;
}

:global(.popup-contents) .sharedStateDebugger:hover {
    overflow-y: auto;
}

.sharedStateDebugger {
    padding: 25px;
    z-index: 200;
    box-shadow: 0 0 50px #000000;
}

.multiSelect {
    width: 300px;
    height: 100%;
}

.option {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #f2f2f2;
}

.option:hover {
    background: darkgrey;
    border: 1px solid burlywood;
    border-radius: 5px;
}

.option.active {
    background: darkgrey;
    border: 1px solid burlywood;
    border-radius: 5px;
    font-weight: 600;
}

.multiSelectWrapper {
    width: 300px;
    height: 100%;
}

.debuggerWrapper {
    width: calc(100% - 300px);
    padding-left: 20px;
}

.debuggerContainer {
    display: flex;
    height: calc(100% - 74px);
}

.sharedStateInput {
    width: calc(100% - 24px);
    height: 40px;
    padding: 0 10px;
}

.textAreaContainer {
    height: calc(100% - 64px);
    position: relative;
}

.buttonContainer {
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
